.card {
    box-sizing: border-box;
    border: 3px double black;
    padding: 10px;
    height: 400px;
    max-width: 250px;
    box-shadow: 0 5px 10px rgba(198, 198, 198, 0.281);
}

.card:hover {
    box-shadow: 0 5px 10px rgb(9, 165, 61);
    cursor: pointer;
}
