header {
    background-color: rgb(10, 10, 10);
    color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.tomato {
    height: 50px;
    transform: scaleX(-1);
}

.tomato2 {
    height: 50px;
}