footer {
    background-color: rgb(53, 53, 53);
    color: #fff;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0px;
    gap: 20px;
}